<br>
<nav class="navTop">
    <div>
    <h2>Create Post</h2>
    </div>
    <div>
    <a href="/dashboard" class="col align-self-end">Dashboard</a>
    </div>
</nav>
    <br>
<form> 
    <div class="mb-3">
        <label for="post-title" class="form-label">Post Title:</label>
        <input type="text" class="form-control input" id="post-title" placeholder="Post Title">
      </div>
      <div class="mb-3">
        <label for="post-content" class="form-label">Post Content:</label>
        <textarea class="form-control" id="post-content" rows="3" placeholder="Content goes here"></textarea>
      </div>
      <button type="submit" class="btn createPostBtn">Create Post</button>
</form>

<script src="/js/add-post.js"></script>