<main>
<nav class="signupCSS">
    <h1>Login:</h1>
    <br>
    <form class="signup-form">

        <div class="mb-3">
            <label for="email-login" class="form-label">Email address:</label>
            <input type="email" class="form-control" id="email-login" placeholder="name@example.com">
        </div>

        <div class="mb-3">
            <label for="password-login" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password-login" placeholder="n0Pa55word">
        </div>

        <div class="submitButton">
            <button type="submit" class="button is-primary btn btn-outline-dark">Login</button>
        </div>
    </form>
</nav>
</main>

<script src="/js/login.js"></script>