<main>
  
    <nav class="signupCSS">
        <h1>Signup:</h1>
        <br>
        <form class="signup-form">
            <div class="mb-3">
                <label for="username-signup" class="form-label">Name</label>
                <input type="text" class="form-control" id="username-signup" placeholder="Ben Dover">
            </div>
    
            <div class="mb-3">
                <label for="email-signup" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email-signup" placeholder="name@example.com">
            </div>

            <div class="mb-3">
                <label for="password-signup" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password-signup" placeholder="n0Pa55word">
            </div>
    
            <div class="submitButton">
                <button type="submit" class="button is-primary btn btn-outline-dark">Signup</button>
            </div>
        </form>
    </nav>

</main>

<script src="/js/signup.js"></script>